.evt_message
{
  border: 1px solid #0000CC;
  color: #000;
  background-color: #FFFFCC;
  margin: 20px 0 10px 0;
  padding: 10px;
  font-size: 8pt;
}
.evt_error
{
 border: 1px solid #ff0000;
 color: #ff0000;
 background-color: #ffdddd;
 margin: 20px 0 10px 0;
 padding: 10px;
 font-size: 8pt;
}

/**
CALENDAR
**/
.cms_container {
  width: 160px;
  height: auto;
  border: 1px solid #000;
  padding: 3px;
  color: #000;
  background-color: transparent;
}
.cms_container table {
  table-layout: fixed;
  border-collapse: collapse;
  padding: 1px;
  margin: 0;
}
.cms_container td {
  font-size: 7pt;
  padding: 3px 2px;
  vertical-align: middle;
}
td.cms_month_prev {
  text-align: left;
}
td.cms_month_next {
  text-align: right;
}
td.cms_month_next a,
td.cms_month_prev a {
  display: block;
  text-decoration: none;
  font-size: 9pt;
  font-weight: bold;
  color: #cd0a0a;
  background-color: transparent;
}
td.cms_month_name {
  text-align: center;
  font-weight: bold;
}
td.cms_week {
  color: gray;
  font-size: 6pt;
  text-align: right;
  vertical-align: bottom;
}
td.cms_day,
td.cms_day_saturday,
td.cms_day_sunday,
td.cms_day_holiday,
td.cms_day_today,
td.cms_day_inactive,
td.cms_day_event,
td.cms_head_day,
td.cms_head_saturday,
td.cms_head_sunday
{
  text-align: right;
}
td.cms_head_day,
td.cms_head_saturday,
td.cms_head_sunday
{
  font-weight: bold;
}
td.cms_day_inactive {
  color: gray;
}
td.cms_day_saturday {
  color: gray;
  font-weight: bold;
}
td.cms_day_sunday,
td.cms_day_holiday {
  color: red;
  font-weight: bold;
}
td.cms_day_today
{
  /*border: 1px solid red;*/
  background-color: #fcefa1;
  color: #000;
}
td.cms_day_event {
  padding: 0;
}
td.cms_day_event a {
  display: block;
  padding: 3px 2px;
  text-decoration: none;
}
td.cms_day_event a:link,
td.cms_day_event a:visited {
  background-color: #cd0a0a;
  color: #fff;
}
td.cms_day_event a:hover,
td.cms_day_event a:active {
  background-color: #000;
  color: #fff;
}